#port

PORT = 8080

#google
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_URI = http://localhost:8080/auth/google/redirect

#DB
DB_URI=mongodb://localhost:27017/OAuthDB


#COOKIE_SECRET
COOKIE_KEY=kichutoparinavai_NOOOB_kijehoiboamar